<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-5/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-5/js/bootstrap.bundle.min.js">
</head>

<body>
    <div class="alert alert-danger">
        this is some alert
    </div>
    <div class="alert alert-success">
        this is some alert
    </div>
    <div class="alert alert-info">
        this is some alert
    </div>
    <div class="alert alert-warning">
        this is some alert
    </div>
    <div class="alert alert-primary">
        this is some alert
    </div>

    <button class="btn btn-secondary btn-lg">
        click here
    </button>

</body>

</html>