<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../bootstrap-5/css/bootstrap.css">
    <script src="../bootstrap-5/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <div class="dropstart position-absolute start-50 top-50 translate-middle" id="dropdown-example">
        <!-- trigger -->
        <button class="btn btn-warning fw-bolder fs-4 dropdown-toggle" data-bs-toggle="dropdown">
            dorpdown
        </button>
        <!-- target -->
        <ul class="dropdown-menu">
            <li class="dropdown-item">dropdown item1</li>
            <li class="dropdown-item">dropdown item2</li>
            <li class="dropdown-item">dropdown item3</li>
            <li class="dropdown-item">dropdown item4</li>
        </ul>
    </div>

</body>

</html>