<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-5/css/bootstrap.css">
    <script src="../bootstrap-5/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- navbar using bootstrap -->
    <div class="container-fluid bg-dark">
        <div class="container bg-dark">
            <nav class="navbar navbar-expand-md align-items-center bg-dark navbar-dark">
                <h1 class="navbar-brand">Logo Here</h1>

                <button class="navbar-toggler btn btn-primary" data-bs-toggle="collapse" data-bs-target="#mobile-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="mobile-menu" class="ms-auto collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Download</a>
                        </li>
                        <li class="nav-item d-flex gap-2">
                            <input class="form-control" type="search" placeholder="content here...">
                            <button class="btn btn-light">Search</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</body>

</html>